.rootdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 20px;
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .logo {
    width: 80px;
    height: auto;
    margin-right: 10px;
  }
  
  .Titletext {
    flex-grow: 1;
    text-align: center;
  }
  