.registration-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 25px;
    
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  h2{
    margin-left: 8%;
  }

  label {
    display: block;
    margin-bottom: 5px;
    margin-left: 8%;
   font-weight: bold;
  }

   
  .label2 {
    display: block;
    float:   left;
    margin-bottom: 15px;
}

  input {
    display: block;
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.2s ease-in-out;
    margin-left: 8%;
  }
  
  input:focus {
    outline: none;
    border-color: #0077ff;
  }
  
  button {
    display: block;
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #0077ff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-left: 8%;
  }
  
  button:hover {
    background-color: #0066cc;
  }
  