body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: #f0f2f4;
  font-size :'14px';
}
#Fcard:hover {
  box-shadow: 0 17px 32px 0 rgba(0, 0, 0, 0.2);
  transform: translate3D(0,-1px,0) ;
 
  }